.nextPhaseButton {
	width: 12vmin;
	padding: 0.5vmin;
	background-color: white;
	font-size: 2vmin;
	font-family: Dongle, sans-serif;
}

.nextPhaseButton__enabled {
	color: navy;
	border: 2px solid navy;
}

.nextPhaseButton__enabled:hover {
	background-color: rgb(170, 209, 224);
}

.nextPhaseButton__enabled:active {
	background-color: navy;
	color: whitesmoke;
}

.nextPhaseButton__disabled {
	color: #aaaaaa;
	border: 2px solid #aaaaaa;
}
