.listWrap {
	display: flex;
	flex-direction: column;
	gap: 1vmin;
	list-style-type: none;
	padding: 0;
	margin: 1vmin;
}

.listItem {
	padding: 1vmin;
	border: 1px solid navy;
	border-radius: 1vmin;
	text-justify: center;
	cursor: pointer;
}

.listItem:hover {
	background-color: aliceblue;
}

.listItem:active {
	background-color: rgb(81, 81, 184);
	color: white;
}
