.content {
	display: grid;
	grid-template-columns: 30% 40% 30%;
	grid-template-rows: 7vmin 10vmin 80vmin;
	grid-template-areas:
		"header header  header"
		"progress-bar progress-bar progress-bar"
		"main-grid    main-grid    main-grid";
}
