.button {
	font-size: 2vmin;
	font-family: Dongle, sans-serif;
	width: 50%;
	height: 4vmin;
	margin-top: 2vmin;
	padding: 0.5vmin;
	align-self: center;
	background-color: aliceblue;
	color: navy;
	border-color: navy;
	border-radius: 1vmin;
	cursor: pointer;
}
