.loginForm {
	width: 30vmin;
	margin: auto;
	margin-top: 20vmin;
	padding: 5vmin;
	background-color: navy;
	opacity: 0.7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1vmin;
	font-family: Dongle, sans-serif;
	color: white;
	border-radius: 2vmin;
}

.logo {
	opacity: 100%;
	width: 50%;
	margin: auto;
	border-radius: 2px;
}

.label {
	font-size: 3vmin;
	font-family: Dongle, sans-serif;
}

.errorText {
	font-size: 2vmin;
	color: palevioletred;
	font-family: Dongle, sans-serif;
}

.link {
	font-size: 2vmin;
	color: aliceblue;
	font-family: Dongle, sans-serif;
	margin: auto;
}

.input {
	font-size: 3vmin;
	font-family: Dongle, sans-serif;
	border-radius: 1vmin;
	padding: 2px 1rem;
}

.helperText {
	cursor: pointer;
	font-size: 2vmin;
	text-decoration: underline;
	margin: auto;
}

.button {
	font-size: 3vmin;
	font-family: Dongle, sans-serif;
	width: 70%;
	height: 4rem;
	margin-top: 2vmin;
	padding: 0.5vmin;
	align-self: center;
	background-color: aliceblue;
	color: navy;
	border-color: navy;
	border-radius: 1vmin;
}

.button:disabled {
	color: grey;
	border-color: grey;
}

.button:enabled:hover {
	background-color: rgb(196, 218, 238);
	cursor: pointer;
}
